.large-hero{
    position: relative;
    
    &__title{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color:$steelBlue;
        
        @mixin smallScreen{
            font-size: 1.285rem;
        }
        @mixin mediumScreen{
            text-transform: uppercase;
        }
        
        @mixin extraLargeScreen{
            font-size: 2.15rem;
            font-weight: 900;
        }
    }
    &__subtitle{
        font-size: 1rem;
        line-height: 1;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        margin-top: 0;
        margin-bottom: 0.625rem;
        color: $steelBlue;
        @mixin smallScreen{
            font-size: 1.25rem;
        }
        @mixin mediumScreen{
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        @mixin largeScreen{
            font-size: 1.75rem;
        }
        @mixin extraLargeScreen{
            font-size: 2rem;        
        }
        
    }
    &__feature-list{
        list-style: circle;
        margin-left: -1.3rem;
        color: $darkGrey;
        display: none;
        
        @mixin smallScreen{
            display: block;
            font-size: 0.8rem;
        }
        @mixin mediumScreen{
            color: $grey;
            font-size: 1rem;
        }
        
        &__item{
            line-height: 1.3;
            margin-bottom: 0.625rem;
            
            @mixin mediumScreen{
                line-height: 1.5;
            }
        }

    }
    &__text-content{
        position: absolute;
        left: 7%;
        top: 45%;
        transform: translateY(-50%);
        
        @mixin extraLargeScreen{
            left: 10%;
            top: 35%;
        }
        
        &__strip-title{
            padding: 0.75rem 1.25rem;
            border-radius: 0.375rem 0.375rem 0 0 ;
            background-color: $mainBlue;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1px;
            font-weight: 900;
            font-size: 0.7rem;
            margin-bottom: 0;
            
            @mixin mediumScreen{
                padding: 1rem 1.8rem;  

            }
            @mixin largeScreen{
                font-size: 0.85rem;
                padding: 1.25rem 2.5rem;  

            }
        }
        &__text{
            background-color: $white;
            padding: 1rem 0.85rem;
            width: 50%;
            border-radius: 0 0.375rem 0.375rem 0.375rem;
            @mixin mediumScreen{
                padding: 1.5rem 1.3rem;
            }
            @mixin extraLargeScreen{
                padding: 3.125rem 2.5rem;  

            }
        }
        
    }
}









































